.bg-base{
    background: url(https://diarium.telkom.co.id/themes/frontend/default/assets/images/presence-doodle.png);
    min-height:100vh;
    background-repeat: repeat-x;
    background-size: 100%;
    background-position: bottom;
    background-color: #fff;
}
.bg-base-color{
    background-color: #A61E2D;
}